PORTFOLIO_POSTGRES_PORT=54329
PORTFOLIO_POSTGRES_ADMIN_USERNAME=postgres
PORTFOLIO_POSTGRES_ADMIN_PASSWORD=
PORTFOLIO_PUBLIC_DATABASE_NAME=portfolio_public_dev
PORTFOLIO_PUBLIC_DATABASE_USERNAME=portfolio_public_owner
PORTFOLIO_PUBLIC_DATABASE_PASSWORD=
PORTFOLIO_GOVERNANCE_DATABASE_NAME=portfolio_governance_dev
PORTFOLIO_GOVERNANCE_DATABASE_USERNAME=portfolio_governance_owner
PORTFOLIO_GOVERNANCE_DATABASE_PASSWORD=
